/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    cursor: pointer;
    font-size: 18px;
  }
  
  .navbar-links li:hover {
    text-decoration: underline;
  }
  